#homepage-container {
    position: absolute;
    top: 10vh;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    background-color:transparent;
    /* cursor: alias; */
}

#title-line {    
    position: absolute;
    top: 34%; 
    font-size: 5em;
    background: none;
    z-index: 1;
}

.homepage-title {
    position: absolute;
    width: 100vw;
    margin: 0 auto;
    top: 45%;
    font-size: 2.5em;
    background: none;
    z-index: 1;
}


.homepage-title:hover {
    cursor: none;
    color:  #a8e6cea4;
}

#tsparticles {
    z-index: 999999;
    height: 100%;
    width: 100%;
}