#email-container {
    height: 80vh;
    display: grid;
    grid-template-columns: 45vw 55vw;
    background: linear-gradient( #d6e9ba,  #fefefe38  )  bottom no-repeat;
    /* margin: 3em; */
    /* background-color: red; */
}

#email-container > form {
    width: 75%;
    margin: 0 auto;
    margin-top: 5em;
    margin-left: 5em;
    /* background-color:#FF8C94; */
    padding: 25px;
}

.contactContainer {
	/* height: 100vh; */
	margin-top: 0;
}

.email-header {
	padding-top: 4vh;
	line-height: 2em;
}

.contact-card-title {
    margin: 2em;
    font-size: .85em;
    background: linear-gradient(to bottom right, #375360, #94949458);
    border-radius: 8px;
    box-shadow: 4px 4px #94b3a65b;
    padding: 1.25em;
    color: white
}

.contact-icon-div {
    font-size: 2.5em;
    margin-bottom: 2em;
    line-height: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-credentials {
    font-size: 1.25em;
}

#contact-form-button {
    width: 50%;
    background-color: #A8E6CE ;
    border-color: #A8E6CE;
    color: white; 
    font-size: 2.25em;
    font-weight: 800;
}
#link-icons {
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
}

a > svg {
    margin: 0;
    color: white;
}

#strava-icon :hover {
    color: #FC5304;
    background-color: rgba(255, 255, 255);
    border-radius: 8px;
}

#linkedin-icon :hover {
    color: #0B66C2;
    background-color: rgba(255, 255, 255);   
     border-radius: 8px;

}

#github-icon :hover {
    color: #171C21;
    background-color: rgba(255, 255, 255);  
      border-radius: 8px;

}

/* a > svg:hover {
    color: rgba(248, 85, 115, 0.81); 
} */

.form-label {
    line-height: 1.5em;
}


.contact-card-title > svg {
    height: 1.5em;
    width: 1.5em;
    margin: .5em;
    color:  rgba(252, 107, 134, 0.81);
}
