.footer-parent-div {
    display: grid;
    /* align-items: center;
    justify-content: center; */
    grid-template-columns: 55% 45%;
    font-size: 1.75em;
    color: #ffffff;
    width: 100vw;
    height: 12vh;
    background-image: url(../../Wave-footer.svg);
}

.loading-io-attribution {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; 
}

.loading-io-attribution > a {
    padding: .5em;
    font-size: smaller;
    color: #ffffff;
    text-decoration: none;   
}   

.name-date {
    cursor: none;
    padding-top: .5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* .footer-parent-div > a  {

} */